* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#main-container {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div button {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 5px;
    font-size: 18px;
    border: transparent;
    background-color: #505050;
    color: #ffffff;
}

div input {
    color: #ffffff;
    display: block;
    width: 200px;
    padding: 20px;
    background: #000;
    border: transparent;
    font-size: 24px;
}

#row-2 button {
    background-color: #D4D4D4D2;
    color: #000000;
}

#row-2 button:last-child {
    color: #ffffff;
}

#main-container div.row button:last-child {
    background: orange;
}

button.focus, button:focus {
    outline: 0;
    box-shadow: none!important;
}

#zero {
    width: 115px;
}

button {
    cursor: pointer;
}

